.App-header {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  text-decoration: underline;
  font-weight: bold;
  color: black;
}
